!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml", "xmlns:w" => "urn:schemas-microsoft-com:office:word"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title У вас новый подписчик
    /[if gte mso 9] <xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml>
    %meta{content: "У вас новый подписчик!", property: "og:title"}/
    %meta{content: "article", property: "og:type"}/
    %meta{content: "https://madmimi.com/s/9f51e4", property: "og:url"}/
    %meta{content: "У вас новый подписчик!", property: "og:description"}/
    %meta{content: "Mad Mimi", property: "og:site_name"}/
    :css
      .ecxmodule,.ecxmodule.ecxmadmimi-text-container{width:524px;}div.ecxmodule table tbody tr td div.ecxmadmimi-text-container ul li{width:539px;}.ecxmodule .ecxmadmimi-text-container h1,.ecxmodule .ecxmadmimi-text-container h2,.ecxmodule .ecxmadmimi-text-container h3,.ecxmodule .ecxmadmimi-text-container h4,.ecxmodule .ecxmadmimi-text-container h5,.ecxmodule .ecxmadmimi-text-container h6{font-weight:bold;}.ecxmodule .ecxmadmimi-text-container ul{padding-left:10px!important;}.ecxmodule .ecxmadmimi-text-container ol{padding-left:30px!important;}td#ecxmadmimi_footer_right{padding-bottom:5px;}.ecxmodule.ecxtext,.ecxmodule.ecxlarge-image-container,.ecxmodule.ecxsmall-image-container{padding:5px 0 10px;}.ecxmodule .ecxmadmimi-text-container .ecxmimi-bullet img{display:none;}.ecxmodule .ecxmadmimi-text-container table.ecxoutside-block{display:block!important;visibility:visible!important;}.ecxmodule .ecxmadmimi-text-container table.ecxoutside-block{width:10px!important;height:10px;padding:0.6em 0 0 0;}.ecxmodule .ecxmadmimi-text-container .ecxoutside-block td.ecxmimi-bullet{display:block;width:4px!important;height:4px;background-color:#262424;font-size:14px!important;line-height:1.5em!important;max-height:1.5em!important;}
    /[if gte mso 9]
    /[if gte mso 9]
      <style>
      ol {
      list-style-type: square !important;
      }

      \.madmimi-text-container ul,
      \.madmimi-text-container ol {
      padding: 0 !important;
      margin: 0 !important;
      list-style: square inside none !important;
      }

      li.p_line_height {
      line-height:1em !important;
      margin-bottom:0.5em;
      }

      \.madmimi-text-container ul li span {
      font-size: 13px !important;
      }

      \.madmimi-image-container p {
      mso-text-raise:0;
      mso-line-height-rule:exactly;
      \-mso-line-height-rule:exactly;
      mso-table-lspace:0;
      mso-table-rspace:0;
      }

      \.madmimi-text-container,
      p,
      h1,
      h2 {
      mso-line-height-rule:exactly;
      \-mso-line-height-rule:exactly;
      line-height: 130% !important;
      }

      div.madmimi-image-container p {
      line-height:1em !important;
      }

      \#madmimi_outer_wrapper ul {
      vertical-align:middle;
      }

      td#madmimi_footer_content table,
      td#madmimi_footer_content tbody,
      td#madmimi_footer_content tr,
      td#madmimi_footer_content td {
      width: 100%;
      }

      td#madmimi_body_content {
      padding-left: 30px !important;
      padding-right: 30px !important;
      }

      table#madmimi_wrapper,
      table#madmimi_wrapper table#subtle_wrapper,
      table#madmimi_body,
      table#madmimi_header,
      table#madmimi_footer {
      border-collapse: collapse !important;
      mso-table-lspace:0pt;
      mso-table-rspace:0pt;
      }

      \#madmimi_wrapper.borders table#madmimi_header {
      mso-border-right-alt: 1px;
      mso-border-left-alt: 1px;
      mso-border-top-alt: 1px;
      mso-border-bottom-alt: 0;
      }

      \#madmimi_wrapper.borders.footer-subtle table#madmimi_body {
      mso-border-right-alt: 1px;
      mso-border-left-alt: 1px;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 1px;
      }

      \#madmimi_wrapper.borderless table#madmimi_body {
      mso-border-right-alt: 0;
      mso-border-left-alt: 0;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 0;
      }

      \#madmimi_wrapper.borders table#madmimi_body {
      mso-border-right-alt: 1px;
      mso-border-left-alt: 1px;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 0;
      }

      \#madmimi_wrapper.borderless table#madmimi_body,
      \#madmimi_wrapper.borderless table#madmimi_footer,
      \#madmimi_wrapper.borderless table#madmimi_header {
      mso-border-right-alt: 0;
      mso-border-left-alt: 0;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 0;
      border-color: transparent;
      border: none;
      border-width: 0;
      }

      \#madmimi_wrapper.borders table#madmimi_footer {
      mso-border-right-alt: 1px;
      mso-border-left-alt: 1px;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 1px;
      }

      \#madmimi_wrapper.borders.footer-subtle table#madmimi_footer {
      border-width: 0;
      }

      \.madmimi-text-container span.mimi-ul table {
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      }

      \.madmimi-text-container span.mimi-ul table td.mimi-bullet {
      line-height: 120% !important;
      }

      \.madmimi-text-container span.mimi-ul,
      \.madmimi-text-container span.mimi-ol {
      line-height: 120% !important;
      margin-bottom: 0 !important;
      }

      span.hide_from_outlook {
      display: none;
      }
      v\:* {
      behavior: url(#default#VML);
      display:inline-block;
      }
      </style>
    :css
      * #madmimi_outer_wrapper q:before{content:'}* #madmimi_outer_wrapper q:after{content:'}
  %body{bgcolor: "#494848", style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; background-color: #494848;"}
    #mimi_background_color_wrapper{style: "min-width: 630px; background-color: #494848;"}
      %table{border: "0", cellpadding: "0", cellspacing: "0", height: "100%", width: "100%"}
        %tr
          %td{align: "left", valign: "top"}
            %p{style: "display:none; visibility:hidden; font-size:0px;color:transparent"}
              У вас новый подписчик!
            #madmimi_outer_wrapper{style: "margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; padding-top: 20px; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
              /[if gte mso 9]
              /[if gte mso 9]
                <p style="line-height: 7px; color: #262424; font-family: Georgia, Times, 'Times New Roman', serif; font-size: 1px; text-align: left; direction: ltr; unicode-bidi: embed; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; background-color: transparent;" align="left">
                <br></p>
              %table#madmimi_wrapper.borderless{align: "center", cellpadding: "0", cellspacing: "0", style: "border-collapse: separate; border-spacing: 0; border-radius: 5px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none;", width: "590"}
                %tr
                  %td{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                    %table#subtle_wrapper.borderless{align: "center", cellpadding: "0", cellspacing: "0", style: "border-collapse: separate; border-spacing: 0; border-radius: 5px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "590"}
                      %tr
                        %td{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                          %table#madmimi_header{align: "center", bgcolor: "#FFFFFF", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse; border-spacing: 0; border-radius: 5px 5px 0 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none; background-color: #FFFFFF;", width: "590"}
                            %tr
                              %td#madmimi_header_content{style: "border-radius: 5px 5px 0 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                                = link_to 'http://artoverflow.com' do
                                  %img{alt: "banner", height: "61", src: "https://cascade.madmimi.com/promotion_images/0689/4923/original/banner.png?1401198029", style: "border-radius: 5px 5px 0 0; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "590"}/
                      %tr
                        %td{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                          %table#madmimi_body{align: "left", bgcolor: "#FFFFFF", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse; border-spacing: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none; background-color: #FFFFFF;", width: "590"}
                            %tr{valign: "top"}
                              %td#madmimi_body_content{style: "max-width: 100%; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 15px; padding-right: 30px; padding-bottom: 20px; padding-left: 30px;"}
                                .module.header{style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                                  %table{style: "border-collapse: collapse; border-spacing: 0; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "100%"}
                                    %tr
                                      %td{align: "left", style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;", width: "530"}
                                        .madmimi-header-container{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                                          %h2{align: "left", style: "font-weight: bold; line-height: 1.2em; color: #3A3737; border-bottom:1px solid #ccc; font-family: Arial, Georgia, Times, 'Times New Roman', serif; font-size: 20px; text-align: left; direction: ltr; margin-top: 10px; margin-right: 0; margin-bottom: 0px; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 15px; padding-left: 0;"}
                                            %span{dir: "ltr", style: "color: #3A3737; font-family: Arial, Georgia, Times, 'Times New Roman', serif; font-size: 20px; text-align: left; direction: ltr;"} У вас новый подписчик!
                                .module.text{style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                                  %table{style: "border-collapse: collapse; border-spacing: 0; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "100%"}
                                    %tr
                                      %td{align: "left", style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;", width: "530"}
                                        %table.borderless{align: "center", cellpadding: "0", cellspacing: "0", style: "border-collapse: separate; border-spacing: 0; border-radius: 5px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none; margin-top:20px;", width: "100%"}
                                          %tr
                                            %td{style: " vertical-align: top;padding-top: 10px;margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;", width: "45px"}
                                              = link_to user_pictures_path(@follower) do
                                                = image_tag(@follower.avatar, style: "-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width:85px; height:85px; ")
                                            %td{style: " vertical-align: top; padding-top: 10px; vertical-align: top; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 20px;"}
                                              %table.borderless{align: "center", cellpadding: "0", cellspacing: "0", style: "border-collapse: separate; border-spacing: 0; border-radius: 5px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none;", width: "100%"}
                                                %tr
                                                  %td{style: "padding-top: 0px;margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;  vertical-align: top;"}
                                                    %a{href: user_pictures_url(@follower), target: '_blank', style: "  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-size: 12px;\r\n                    font-family: Arial; color: #6eb2ba; text-decoration: none; font-weight: bold; Font-familly:arial;\r\n                    font-size:12px"}
                                                      = @follower.name
                                                    %table{align: "left", cellpadding: "0", cellspacing: "0", style: "width:100%; border-collapse: separate; border-spacing: 0; margin-top: 0;  margin-bottom: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none;"}
                                                      %tr
                                                        %td{style: "padding-top:5px; vertical-align: top; \r\n                        padding-top: 5px; padding-top: 0px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 5px; padding-right: 0; padding-bottom: 0; padding-left: 0px;"}
                                                          - if @follower.city?
                                                            = image_tag("locationGr.png")
                                                            %a{href: "javascript:void(0)", style: "  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-size: 12px;\r\n                        font-family: Arial; color: #ACACAC; text-decoration: none; font-familly: Arial; vertical-align: 3px;\r\n                        font-size:12px"}
                                                              = @follower.city
                                                            - if @follower.vk
                                                              %a{href: "http://vk.com/#{@follower.vk}", target: '_blank'}
                                                                = image_tag("vkGr.png")
                                                          %table{cellpadding: "0", cellspacing: "0", style: "padding-top: 0px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0px;"}
                                                            %tr
                                                              %td{style: "padding-top: 10px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 5px; padding-right: 0; padding-bottom: 0; padding-left: 0px;"}
                                                                %a{href: user_pictures_url(@follower), target: '_blank'}
                                                                  = image_tag("mailer-follow-user.png")
                                                  %td{style: "vertical-align: top; width:30px; \r\n                padding-top: 5px; padding-top: 0px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 10px;"}
                                                    %table{align: "left", cellpadding: "0", spacing: "0", style: "border-collapse: separate; border-spacing: 0; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none;"}
                                                      %tr
                                                        %td{style: "vertical-align: middle; \r\n                    x; text-align:center; color: white;\r\n                    border-radius: 3px; font-weight: bold;\r\n                    font-family: Arial;\r\n                    font-size: 35px; \r\n                    padding-top: 5px; padding-top: 0px; margin-right: 0px; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 10px; padding-bottom: 0; padding-left: 0px"}
                                                          %a{href: user_pictures_url(@follower), target: '_blank', style: "min-width:60px; vertical-align: middle;  height:60px; display:table-cell;  color: white; text-decoration: none; text-align:center; background-color: #26394d;  -webkit-border-radius: 3px; border-radius: 3px; -moz-border-radius: 3p"}
                                                            = @follower.follows.count
                                                        %td{style: "vertical-align: middle; font-weight: bold;\r\n font-family: Arial;\r\n                  font-size: 35px;\r\n                  padding-top: 5px; padding-top: 0px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0px"}
                                                          %a{href: user_pictures_url(@follower), target: '_blank', style: "  -webkit-border-radius: 3px;\r\n                  -moz-border-radius: 3px; background-color: #26394d;\r\n                  border-radius: 3px;  min-width:60px; vertical-align: middle; height:60px; display:table-cell;  color: white; text-decoration: none; text-align:center;"}
                                                            = @follower.followers_count
                                                        %tr
                                                          %td{style: 'padding-top: 5px'}
                                                            %a{href: user_pictures_url(@follower), target: '_blank', style: "font-size: 10px;  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-family: Arial; color: #6eb2ba; text-decoration: none; font-familly:arial; font-size:12px; margin-top: 7px;line-height: 16px;"}
                                                              = I18n.t('counters.follows', count: @follower.follows.count)
                                                          %td{style: 'padding-top: 5px'}
                                                            %a{href: user_pictures_url(@follower), target: '_blank', style: "font-size: 10px;  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-family: Arial; color: #6eb2ba; text-decoration: none; font-familly:arial; font-size:12px; margin-top: 7px;line-height: 16px;"}
                                                              = I18n.t('counters.followers', count: @follower.followers_count)
                                %div{align: "center", style: "font-size: 9px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                                %table{align: "left", cellpadding: "0", spacing: "0", style: "border-collapse: separate; border-spacing: 0; margin-top: 10px; margin-right: auto; margin-bottom: 0; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none; border:1px solid #ccc; padding:10px;"}
                                  %tr{style: "border:1px solid #ccc;"}
                                    - @follower.pictures.popular_for_search.each do |pic|
                                      %td{style: "padding-right:10px"}
                                        = link_to(picture_url(pic)) do
                                          = image_tag(pic.path.small_thumb, width: "155px")
                                  %tr
                                    %td
                                    %td{style: "text-align:center; padding-top:10px;"}
                                      %a{href: user_pictures_url(@follower), style: "font-size: 10px;  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;\r\n        font-family: Arial; color: #6eb2ba; text-decoration: none; font-familly:arial;\r\n        font-size:12px; margin-top: 7px;\r\n        line-height: 16px; text-decoration: underline;"} Посмотреть все работы
                                    %td
                                .outlook-fixer{style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                                  %table{style: "border-collapse: collapse; border-spacing: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "100%"}
                                    %tr
                                      %td{align: "left", height: "1", style: "font-size: 1px; line-height: 0; clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;", width: "530"}
                                        %img{alt: "1px", height: "1", src: "https://go.madmimi.com/assets/outlook_fixer.gif", style: "border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "530"}/
                %tr
                  %td{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                    %table#madmimi_footer.ui_light{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse; border-spacing: 0; border-radius: 0 0 4px 4px; width: 100%; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none;"}
                      %tr
                        %td#madmimi_footer_content{bgcolor: "#ccc", style: "border-radius: 0 0 4px 4px; color: #222; font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 10px; padding-right: 20px; padding-bottom: 30px; padding-left: 30px; background-color: #ccc; border-top: 1px solid #B6B5B5;"}
                          %table.toolbar{style: "width: 100% !important; border-collapse: collapse; border-spacing: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;"}
                            %tr
                              %td#madmimi_footer_left{align: "center", bgcolor: "#ccc", style: "text-align: center; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 10px; padding-right: 0; padding-bottom: 0; padding-left: 0; background-color: #ccc;"}
                                .footer{style: "color: #494848; font-family: Georgia, Times, 'Times New Roman', serif; font-size: 10px; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; color: #7C7C7C;\r\n    font-family: Arial;\r\n    font-size: 10px;"}
                                  Если вы не хотите получать письма, то можете
                                  %a{href: user_notification_settings_url(@recipient), style: "font-size: 10px;  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;\r\nfont-family: Arial; color: #6eb2ba; text-decoration: none; font-familly:arial;\r\nfont-size:12px; margin-top: 7px;\r\nline-height: 16px; text-decoration: underline;"} отписатся от рассылки
                                .footer{style: "color: #494848; font-family: Georgia, Times, 'Times New Roman', serif; font-size: 10px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; color: #7C7C7C;\r\n  font-family: Arial;\r\n  font-size: 11px;"}
                                  ©2014
                                  ArtOverflow. Все права защищены. | Belarus, Minsk
