.registration
  .container-registration
    .container-registration-left
      =image_tag("reg.png")
    .container-registration-right
      %h1
        Регистрация нового <br/> пользователя
      .form-registration
        = simple_form_for(resource, :as => resource_name, :url => user_registration_path) do |f|
          = f.input :name, label: false, placeholder: 'Отображаемое имя'
          = f.input :email, label: false, placeholder: 'Email'
          = f.input :password, label: false, placeholder: 'Пароль'
          = f.input :sex, label: false, as: :radio_buttons, placeholder: 'Пол'
          .action
            = f.submit t(:submit), class: 'button-registration'
