.registration
  .row
    .large-6.columns.text-right
      =image_tag("reg.png")
    .large-6.columns
      %h1
        Создай бесплатно свой профиль
      .row
        .large-8.columns
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            = f.input :name, label: false, placeholder: 'Имя и фамилия'
            = f.input :nickname, label: false, placeholder: 'Имя пользователя'
            = f.input :password, label: false, placeholder: 'Пароль'
            .action
              = f.submit t(:submit), class: 'btn btn-blue'
