.row
  .message-comment.large-1.columns
    = image_tag comment.user_avatar, class: "border-radius-circle"
  .input-comment.large-11.columns
    %p.blue
      = comment.user_name
      %span.grey
        %span.star
          *
        1 час назад
      %span.count-right.likes_count.grey
        = comment.likes_count
      = image_tag 'heart_normal.png'

      .txt-comment
        = comment.text
      - if user_signed_in?
        .reply-to-comment
          %a
            Ответить
          = link_to t('comment.destroy'), comment_path(comment), method: :delete, data: { confirm: t('comment.confirm_destroy') }
          = render 'comments/like_button', comment: comment
    %hr
    .reply-to-comment-container
      = render 'comments/form', commentable: commentable if user_signed_in?
