.message-comment
  = image_tag 'images.jpg'
  %ul.details-picture.main
    %li.name-user
      = comment.user.nickname
    %li
      %span
        *
      1 час назад

    -# TODO: handle parent of comment by js
    -# %li.name-user
    -#   %span.arrow-answer
    -#     = image_tag 'arrow_ansmer.gif'
    -#   = comment.parent.user.email if comment.child?

    .txt-comment
      = comment.text
    .reply-to-comment
      %a
        Ответить
  .like
    - if current_user.voted_on?(comment)
      = button_to(t('like'), action: 'unlike', controller: 'comments', id: comment.id)
    - else
      = button_to(t('like'), action: 'like', controller: 'comments', id: comment.id)

    %a.link-like
      Мне нравится
      %p.count-right.likes_count
        = comment.likes_count
      =image_tag 'heart_inactive.png'

  = link_to 'Delete comment', comment_path(comment), method: :delete, data: { confirm: 'Точно?' }
  %hr
  .reply-to-comment-container
    = render 'comments/form', commentable: commentable
