- liked = user_signed_in? ? current_user.liked?(comment) : false
.js-button-watch.button-toggler.like-button{ data: { voted: liked } }
  - if user_signed_in?
    = link_to(unlike_comment_path(comment), method: :post, class: 'like-button-comment js-remote-link js-deactivate-button',
        data: { remote: true, disable_with: I18n.t('like')}) do
      = I18n.t('like')
      %span.unlike-img
      %span.active-count.likes_count
        = comment.likes_count

    = link_to(like_comment_path(comment), method: :post, class: 'like-button-comment js-remote-link js-activate-button',
        data: { remote: true, disable_with: I18n.t('like')}) do
      = I18n.t('like')
      %span.like-img
      %span.active-count.likes_count
        = comment.likes_count
  - else
    = link_to(new_user_session_path, class: 'like-button-comment') do
      = I18n.t('like')
      %span.like-img
      %span.active-count.likes_count
        = comment.likes_count
