<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="F2F2F2" background="<%= attachments['mailer-bg.gif'].url %>">
      <tr>
        <td style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
          <table width="660" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="333333" background="<%= attachments['mailer-header-top.gif'].url %>" style="background-repeat:no-repeat">
                  <tr>
                    <td align="left" valign="middle" style="padding-top:8px;padding-bottom:4px;padding-left:14px">
                      <a href="" style="font-family:Arial;color:#ffffff;font-size:16px;font-weight:bold;text-decoration:none" target="_blank">
                        Art Overflow
                      </a>

                    </td>
                    <td align="right" valign="middle" style="padding-top:8px;padding-right:20px;padding-bottom:4px;font-family:Arial;color:#808080;font-size:11px;font-weight:bold">
                      13 июля 2013
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 10px">

                <p>Добрый день, как настроение?</p>
                <p>Спасибо что проявили интерес к нашему проекту.</p>
                <p>Для нас искусство - это мир непрекращающихся дискуссий. Это соревнование, в котором побеждает всё человечество.</p>
                <p>Нам больше не нужно ходить в художественные галереи и музеи для того, чтобы посмотреть на произведения искусства. Найти их в сети очень просто, однако, если в тебе самом живет художник, то как заставить других людей обратить на себя внимание?</p>
                <p>Именно это и является нашей целью - создать единое сообщество людей, которые хотят быть частью мира искусства.</p>
                <p>Вы любите рисовать? Хотели ли бы вы, чтобы ваши работы увидел весь мир? Вам бы хотелось обсуждать свои и чужие работы с такими же людьми, как вы? Вы хотите получать вдохновение и вдохновлять других?</p>
                <p>Мы считаем, что каждый художник хочет этого.</p>
                <p>
                  Art Overflow создается для поддержки, вдохновения и развития художника внутри вас. Он позволяет выставлять, продвигать и делиться своими работами среди сообщества, посвященному искусcтву.
                </p>
                <p>Проект находится в стадии разработки, и мы будет держать вас в курсе последних новостей.</p>
                <p>Спасибо за проявленный интерес!</p>
              </td >
            </tr>
            <tr>
              <td height="7" background="<%= attachments['mailer-header-bottom.gif'].url %>" style="background-repeat:no-repeat;font-size:0;line-height:0"></td>
            </tr>

          </table>
        </td>
      </tr>
      <tr>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="F2F2F2" background="<%= attachments['mailer-bg.gif'].url %>">
          <tr>
            <td align="center" valign="top" style="padding-bottom:5px;font-family:Arial;font-size:11px">
              <%= unsubscribe_link(@subscriber, style: "color:#808080;text-decoration:none", target: '_blank') %>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="padding-bottom:8px;font-family:Arial;color:#262626;font-size:11px;font-weight:bold">
              Следите за нами
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="padding-bottom:6px;font-family:Arial;font-size:11px">
              <a href="http://twitter.com/#!/ArtOverflow" style="color:#0090d9;text-decoration:none" target="_blank">
                <img alt='vkontakte' border="0" height='26' src='<%= attachments['mailer-twitter.png'].url %>' width='26'>
              </a>
              <a href="http://vk.com/ArtOverflow" style="color:#0090d9;text-decoration:none" target="_blank">
                <img alt='twitter' border="0" height='26' src='<%= attachments['mailer-vkontakte.png'].url %>' width='26'>
              </a>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="font-family:Arial;color:#808080;font-size:11px">
              ©2013 Art Overflow.
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="padding-bottom: 20px;font-family:Arial;color:#808080;font-size:11px">
              Все права защищены
            </td>
          </tr>
        </table>

      </tr>
      <!--&lt;!&ndash; Если вы не желаете получать новости от Art Overflow, вы можете #{unsubscribe_link(@subscriber)} &ndash;&gt;-->
    </table>
</body>
</html>
