- if user_signed_in?
  - following = current_user.following?(resource)
  .js-button-watch.button-toggler.follow-button{ data: { voted: following} }
    = link_to(stop_following_user_path(resource), method: :post, class: 'button-red js-remote-link js-deactivate-button',
      data: { remote: true, disable_with: I18n.t('follow') }) do
      = I18n.t('follow')
      %span.active-count
        = resource.followers_count

    = link_to(follow_user_path(resource), method: :post, class: 'button-blue js-remote-link js-activate-button',
      data: { remote: true, disable_with: I18n.t('follow') }) do
      = I18n.t('follow')
      %span.active-count
        = resource.followers_count
- else
  .js-button-watch.button-toggler.follow-button
    = link_to(new_user_session_path, method: :post, class: 'button-blue js-remote-link js-activate-button') do
      = I18n.t('follow')
      %span.active-count
        = resource.followers_count
