- if user_signed_in?
  - following = current_user.following?(resource)
  .js-button-watch.button-toggler.follow-button{ data: { voted: following, user_id: resource.id, hide_if_owner: true} }
    = link_to(stop_following_user_path(resource), method: :post, class: 'button-red js-remote-link js-deactivate-button',
      data: { remote: true }) do
      = I18n.t('following')
      %span.active-count
        %span.counter
          = resource.followers_count
        %span.spinner-icon{style: 'display:none'}

    = link_to(follow_user_path(resource), method: :post, class: 'button-blue js-remote-link js-activate-button',
      data: { remote: true }) do
      = I18n.t('follow')
      %span.active-count
        %span.counter
          = resource.followers_count
        %span.spinner-icon{style: 'display:none'}
- else
  .js-button-watch.button-toggler.follow-button
    = link_to(new_user_session_path, method: :post, class: 'button-blue js-remote-link js-activate-button') do
      = I18n.t('follow')
      %span.active-count
        %span.counter
          = resource.followers_count
        %span.spinner-icon{style: 'display:none'}
