%div{'data-check-user' => true, 'data-user-id' => resource.id}
.profil
  .description-profil
    .avatar-provil
      =image_tag(resource.avatar)
    %h3
      = resource.name
    - if resource.city?
      .social
        %a
          %span.blue
            =image_tag("locationGr.png")
            = resource.city
        -# %a
          -# %span.blue
            -# =image_tag("glob.png")
            -# winniehooper.com
      %span.blue
        -# %a
          -# =image_tag("twitterGr.png")
        - if resource.vk?
          %a{href: "http://vk.com/#{resource.vk}"}
            =image_tag("vkGr.png")
    = render 'users/follow_button', resource: resource
  .profil-data
    .user-counters
      .likes
        .top
        .bottom
        .count
          = resource.likes_count
        %span.blue
          Симпатий
      .followers
        .top
        .bottom
        .count
          = resource.followers_count
        %span.blue
          Подписчика
      .follows
        .top
        .bottom
        .count
          = resource.follows.count
        %span.blue
          Подписок
