%div{'data-check-user' => true, 'data-user-id' => resource.id}
.row.profil
  .large-2.columns
    =image_tag(resource.avatar)
  .large-5.columns
    %h3
      = resource.name
    %sup
      %span.grey
        = resource.name
      - if resource.premium?
        %span.red
          PRO
    .social
      %a
        %span.blue
          =image_tag("locationGr.png")
          = resource.city
      %a
        %span.blue
          =image_tag("glob.png")
          winniehooper.com
      %span.blue
        %a
          =image_tag("twitterGr.png")
        %a{href: "http://vk.com/#{resource.vk}"}
          =image_tag("vkGr.png")
    = render 'users/follow_button', following: @following, resource: resource
  .large-5.columns
    .user-counters
      .likes
        .top
        .bottom
        .count
          = resource.likes_count
        %span.blue
          Симпатий
      .followers
        .top
        .bottom
        .count
          = resource.followers_count
        %span.blue
          Подписчика
      .follows
        .top
        .bottom
        .count
          = resource.follows.count
        %span.blue
          Подписок
.profil-menu
  .row
    .large-12
      %ul.small-block-grid-6
        %li
          = active_link_to 'Новые', user_pictures_path(resource)
        %li
          = active_link_to 'Популярные', user_pictures_path(resource, order: :likes_count)
        %li
          = active_link_to 'Альбомы', user_albums_path(resource)
