= javascript_include_tag 'load-image.min', 'jquery.Jcrop', 'data-turbolinks-track' => true
= stylesheet_link_tag 'jquery.Jcrop', 'data-turbolinks-track' => true

= simple_form_for(resource, url: avatar_update_user_path(resource)) do |f|
  .row
    .large-12.columns
      %h3.title-download
        Загрузка аватара
  .bg-blue#image-selector
    .row
      .large-12.columns
        .download-file
          %label
            Перетащи сюда файл с картинкой
          %label
            или
          %a.btn-download
            Выбери файл для загрузки
          = f.input :avatar, class:'hidden-btn', input_html: { id: 'picture_path' }
  #crop-parameters{ data: {                                     |
      width: AvatarUploader::CROP_AREA_WIDTH,                   |
      height: AvatarUploader::CROP_AREA_HEIGHT,                 |
      thumb_width: AvatarUploader::THUMB_WIDTH,                 |
      thumb_height: AvatarUploader::THUMB_HEIGHT,               |
      thumb_aspect_ratio: AvatarUploader::THUMB_ASPECT_RATIO }  |
    }                                                           |
  .bg-grey#crop
    #crop-pr
      %canvas#crop-preview{ width: AvatarUploader::THUMB_WIDTH, height: AvatarUploader::THUMB_HEIGHT, style: "overflow: hidden" }
      %br
      %span.blue
        we
      %span.right
        15
    #crop-area
  .row
    .large-6.columns.new-picture-description
      = f.input :crop_x, as: :hidden, input_html: { id: 'picture_crop_x' }
      = f.input :crop_y, as: :hidden, input_html: { id: 'picture_crop_y' }
      = f.input :crop_w, as: :hidden, input_html: { id: 'picture_crop_w' }
      = f.input :crop_h, as: :hidden, input_html: { id: 'picture_crop_h' }
      = f.button :submit, class: 'btn btn-green', value: 'Отправить', data: { disable_with: 'Загружаем' }
