= render partial: 'users/edit_navigation', locals: { resource: resource.user }

.profil-form
  .profil-form-container.user-notifications
    .title
      Уведомлять меня по почте о:
    = simple_form_for(resource, url: notification_settings_path, html: { class: 'edit_user' }) do |f|
      = f.input :news
      = f.input :comments
      = f.input :subscribers
      = f.submit "Сохранить", class: 'btn btn-green', data: { disable_with: 'Сохраняется' }
