.profil.show-user-album
  .description-user-album
    = image_tag(resource.avatar)
    .columns-description-user-album
      %h3
        = resource.name
      %a{ href: user_pictures_path(resource.user) }
        = resource.user_name
      %div
        = resource.description
  .profil-data
    .user-counters
      .likes
        .top
        .bottom
        .count
          = resource.pictures_count
        %span.blue
          = I18n.t('counters.pictures', count: resource.pictures_count)
