= cache album do
  .image-block
    /%h1
    /  = picture.name
    %a{href: url_for([album, :pictures])}
      .info
        %h5= truncate(album.name, length: 20)
        %p
          = truncate(album.description, length: 150)
      = image_tag nil, class: 'picture'
      .name
        = link_to truncate(album.name, length: 20), [album, :pictures]
      .picture-actions
        %div.heart_normal
        %span
          = 0
        %div.share_normal
        %span
          3
