= cache album do
  .image-block
    /%h1
    /  = picture.name
    %a{href: url_for([album, :pictures])}
      .info
        %h5=album.name
        %p
          = album.description
      = image_tag nil, class: 'picture'
      .name
        = link_to album.name, [album, :pictures]
      .picture-actions
        %div.heart_normal
        %span
          = 0
        %div.share_normal
        %span
          3
