%h1 New album

.new-album#newAlbum.reveal-modal{data: { reveal: true }}
  = simple_form_for([parent, Album.new]) do |f|
    = f.input :name
    = f.input :description
    = f.button :submit, value: 'Создать альбом'
    %a.close-reveal-modal
      &#215;
    = link_to 'Отмена', url_for([parent, :albums])
