- content_for :title, 'Изменение альбома'

= render current_user.to_header_path, resource: current_user
= render partial: 'albums/edit_navigation', locals: { resource: resource }

.edit-container
  %div
    .image-edit-album
      = image_tag resource.avatar, class:"img-follow"
      = link_to_modal 'Изменить обложку', edit_album_avatar_path(resource), data: { remote: true }
      %br
        - if resource.pictures_count == 0
          = link_to 'Удалить альбом', album_path(resource), method: :delete, data: { confirm: 'Вы уверены?' }
        - else
          - count = resource.pictures_count
          - message = "В альбоме #{count} #{I18n.t('counters.pictures', count: count)}. Удалить альбом вместе со всеми его картинками?"
          = link_to 'Удалить альбом', album_path(resource), method: :delete, data: { confirm: message }

    .form-edit-album
      = simple_form_for([parent, resource]) do |f|
        = f.input :name
        = f.input :description
        = f.button :submit, value: 'Сохранить изменения',class: 'btn btn-green'
