!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml", "xmlns:w" => "urn:schemas-microsoft-com:office:word"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = "Пользователь #{@user.name} оставил новый комментарий к вашей работе!"
    /[if gte mso 9] <xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml>
    %meta{content: "На вашу работу добавлен новый комментарий", property: "og:title"}/
    %meta{content: "article", property: "og:type"}/
    %meta{content: "На вашу работу добавлен новый комментарий!", property: "og:description"}/
    :css
      .ecxmodule,.ecxmodule.ecxmadmimi-text-container{width:524px;}div.ecxmodule table tbody tr td div.ecxmadmimi-text-container ul li{width:539px;}.ecxmodule .ecxmadmimi-text-container h1,.ecxmodule .ecxmadmimi-text-container h2,.ecxmodule .ecxmadmimi-text-container h3,.ecxmodule .ecxmadmimi-text-container h4,.ecxmodule .ecxmadmimi-text-container h5,.ecxmodule .ecxmadmimi-text-container h6{font-weight:bold;}.ecxmodule .ecxmadmimi-text-container ul{padding-left:10px!important;}.ecxmodule .ecxmadmimi-text-container ol{padding-left:30px!important;}td#ecxmadmimi_footer_right{padding-bottom:5px;}.ecxmodule.ecxtext,.ecxmodule.ecxlarge-image-container,.ecxmodule.ecxsmall-image-container{padding:5px 0 10px;}.ecxmodule .ecxmadmimi-text-container .ecxmimi-bullet img{display:none;}.ecxmodule .ecxmadmimi-text-container table.ecxoutside-block{display:block!important;visibility:visible!important;}.ecxmodule .ecxmadmimi-text-container table.ecxoutside-block{width:10px!important;height:10px;padding:0.6em 0 0 0;}.ecxmodule .ecxmadmimi-text-container .ecxoutside-block td.ecxmimi-bullet{display:block;width:4px!important;height:4px;background-color:#262424;font-size:14px!important;line-height:1.5em!important;max-height:1.5em!important;}
    /[if gte mso 9]
    /[if gte mso 9]
      <style>
      ol {
      list-style-type: square !important;
      }

      \.madmimi-text-container ul,
      \.madmimi-text-container ol {
      padding: 0 !important;
      margin: 0 !important;
      list-style: square inside none !important;
      }

      li.p_line_height {
      line-height:1em !important;
      margin-bottom:0.5em;
      }

      \.madmimi-text-container ul li span {
      font-size: 13px !important;
      }

      \.madmimi-image-container p {
      mso-text-raise:0;
      mso-line-height-rule:exactly;
      \-mso-line-height-rule:exactly;
      mso-table-lspace:0;
      mso-table-rspace:0;
      }

      \.madmimi-text-container,
      p,
      h1,
      h2 {
      mso-line-height-rule:exactly;
      \-mso-line-height-rule:exactly;
      line-height: 130% !important;
      }

      div.madmimi-image-container p {
      line-height:1em !important;
      }

      \#madmimi_outer_wrapper ul {
      vertical-align:middle;
      }

      td#madmimi_footer_content table,
      td#madmimi_footer_content tbody,
      td#madmimi_footer_content tr,
      td#madmimi_footer_content td {
      width: 100%;
      }

      td#madmimi_body_content {
      padding-left: 30px !important;
      padding-right: 30px !important;
      }

      table#madmimi_wrapper,
      table#madmimi_wrapper table#subtle_wrapper,
      table#madmimi_body,
      table#madmimi_header,
      table#madmimi_footer {
      border-collapse: collapse !important;
      mso-table-lspace:0pt;
      mso-table-rspace:0pt;
      }

      \#madmimi_wrapper.borders table#madmimi_header {
      mso-border-right-alt: 1px;
      mso-border-left-alt: 1px;
      mso-border-top-alt: 1px;
      mso-border-bottom-alt: 0;
      }

      \#madmimi_wrapper.borders.footer-subtle table#madmimi_body {
      mso-border-right-alt: 1px;
      mso-border-left-alt: 1px;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 1px;
      }

      \#madmimi_wrapper.borderless table#madmimi_body {
      mso-border-right-alt: 0;
      mso-border-left-alt: 0;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 0;
      }

      \#madmimi_wrapper.borders table#madmimi_body {
      mso-border-right-alt: 1px;
      mso-border-left-alt: 1px;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 0;
      }

      \#madmimi_wrapper.borderless table#madmimi_body,
      \#madmimi_wrapper.borderless table#madmimi_footer,
      \#madmimi_wrapper.borderless table#madmimi_header {
      mso-border-right-alt: 0;
      mso-border-left-alt: 0;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 0;
      border-color: transparent;
      border: none;
      border-width: 0;
      }

      \#madmimi_wrapper.borders table#madmimi_footer {
      mso-border-right-alt: 1px;
      mso-border-left-alt: 1px;
      mso-border-top-alt: 0;
      mso-border-bottom-alt: 1px;
      }

      \#madmimi_wrapper.borders.footer-subtle table#madmimi_footer {
      border-width: 0;
      }

      \.madmimi-text-container span.mimi-ul table {
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      }

      \.madmimi-text-container span.mimi-ul table td.mimi-bullet {
      line-height: 120% !important;
      }

      \.madmimi-text-container span.mimi-ul,
      \.madmimi-text-container span.mimi-ol {
      line-height: 120% !important;
      margin-bottom: 0 !important;
      }

      span.hide_from_outlook {
      display: none;
      }
      v\:* {
      behavior: url(#default#VML);
      display:inline-block;
      }
      </style>
  %body{bgcolor: "#EEE", style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; background-color: #EEE;"}
    #mimi_background_color_wrapper{style: "min-width: 630px; background-color: #EEE;"}
      /[if gte mso 9]
      /[if gte mso 9] <v:background fill="t"><v:fill type="tile" src="https://go.madmimi.com" color="#494848"></v:fill></v:background>
      %table#madmimi_wrapper.borderless{align: "center", cellpadding: "0", cellspacing: "0", style: "border-collapse: separate; border-spacing: 0; border-radius: 5px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none;", width: "590"}
        %tr
          %td{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
            %table#subtle_wrapper.borderless{align: "center", cellpadding: "0", cellspacing: "0", style: "border-collapse: separate; border-spacing: 0; border-radius: 5px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "590"}
              %tr
                %td{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                  %table#madmimi_header{align: "center", bgcolor: "#FFFFFF", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse; border-spacing: 0; border-radius: 5px 5px 0 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none; background-color: #FFFFFF;", width: "590"}
                    %tr
                      %td#madmimi_header_content{style: "border-radius: 5px 5px 0 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                        = link_to 'http://artoverflow.com' do
                          = image_tag("mailer-banner.png", height: "61", style: "border-radius: 5px 5px 0 0; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "590")
              %tr
                %td{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                  %table#madmimi_body{align: "left", bgcolor: "#FFFFFF", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse; border-spacing: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none; background-color: #FFFFFF;", width: "590"}
                    %tr{valign: "top"}
                      %td#madmimi_body_content{style: "max-width: 100%; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 10px; padding-right: 30px; padding-bottom: 20px; padding-left: 30px;"}
                        .module.header{style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                          %table{style: "border-collapse: collapse; border-spacing: 0; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "100%"}
                            %tr
                              %td{align: "left", style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;", width: "530"}
                                .madmimi-header-container{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                                  %h2{align: "left", style: "font-weight: bold; line-height: 1.2em; color: #3A3737; border-bottom:1px solid #ccc; font-family: Arial, Georgia, Times, 'Times New Roman', serif; font-size: 20px; text-align: left; direction: ltr; margin-top: 10px; margin-right: 0; margin-bottom: 0px; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 15px; padding-left: 0;"}
                                    %span{dir: "ltr", style: "color: #3A3737; font-family: Arial, Georgia, Times, 'Times New Roman', serif; font-size: 20px; text-align: left; direction: ltr;"}
                                      = "Пользователь #{@user.name} оставил новый комментарий к вашей работе!"
                        .module.text{style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                          %table{style: "border-collapse: collapse; border-spacing: 0; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "100%"}
                            %tr
                              %td{align: "left", style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;", width: "530"}
                                %table.borderless{align: "center", cellpadding: "0", cellspacing: "0", style: "border-collapse: separate; border-spacing: 0; border-radius: 5px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none; margin-top:20px;", width: "100%"}
                                  %tr
                                    %td{style: " vertical-align: top;padding-top: 10px;margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;", width: "40%"}
                                      %a{href: picture_url(@picture)}
                                        = image_tag(@picture.path.small_thumb, style: "width: 213px")
                                      %div
                                        %a{href: user_pictures_url(@recipient), style: "font-size: 12px;  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;\r\nfont-family: Arial; color: #6eb2ba; text-decoration: none; font-familly:arial;\r\nfont-size:12px; margin-top: 7px;\r\ndisplay: block;\r\nline-height: 16px;"}
                                          = @recipient.name
                                    %td{style: " vertical-align: top; padding-top: 10px; vertical-align: top; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 20px;", width: "60%"}
                                      %table.borderless{align: "center", cellpadding: "0", cellspacing: "0", style: "border-collapse: separate; border-spacing: 0; border-radius: 5px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none;", width: "100%"}
                                        %tr
                                          %td{style: "padding-top: 0px;margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width:45px; vertical-align: top;"}
                                            %a{href: user_pictures_url(@user)}
                                              = image_tag(@user.avatar, style: "width:45px; height:45px; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; ")
                                          %td{style: "vertical-align: top;\r\npadding-top: 5px; padding-top: 0px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 10px;"}
                                            %div
                                              %a{href: user_pictures_url(@user), style: "  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-size: 12px;\r\nfont-family: Arial; color: #6eb2ba; text-decoration: none; font-weight: bold; Font-familly:arial;\r\nfont-size:12px"}
                                                = @user.name
                                            %p{style: " margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; color: #26394d;font-family: Arial;\r\nmargin: 0;\r\nmargin-top: 5px;\r\npadding:0;\r\nfont-size: 14px; font-family: Arial; line-height: 18px;"}
                                              = @comment.text
                                            %p{style: " margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;\r\nmargin-top: 4px;"}
                                              %span{style: "font-size: 12px; padding: 0;\r\nmargin: 0; color: #a9b1b8; font-family: Arial;"}
                                                = I18n.l(@comment.created_at, format: :long)
                                              %span{style: " margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-size: 12px; padding: 0;\r\nmargin: 0; margin: 0 10px; color: #a9b1b8; font-family: Arial; vertical-align: 1px;"} |
                                              %a{href: picture_url(@picture), style: "font-size: 12px;\r\nfont-family: Arial; color: #6eb2ba; text-decoration: none; font-familly:arial;\r\nfont-size:12px; margin-top: 7px;\r\nline-height: 16px; text-decoration: underline;"} Ответить
                        %div{align: "center", style: "font-size: 9px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                        .outlook-fixer{style: "clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
                          %table{style: "border-collapse: collapse; border-spacing: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "100%"}
                            %tr
                              %td{align: "left", height: "1", style: "font-size: 1px; line-height: 0; clear: both; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;", width: "530"}
                                %img{alt: "1px", height: "1", src: "https://go.madmimi.com/assets/outlook_fixer.gif", style: "border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", width: "530"}/
        %tr
          %td{style: "margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;"}
            %table#madmimi_footer.ui_light{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse; border-spacing: 0; border-radius: 0 0 4px 4px; width: 100%; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-image: none;"}
              %tr
                %td#madmimi_footer_content{bgcolor: "#ccc", style: "border-radius: 0 0 4px 4px; color: #222; font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 10px; padding-right: 20px; padding-bottom: 30px; padding-left: 30px; background-color: #ccc; border-top: 1px solid #B6B5B5;"}
                  %table.toolbar{style: "width: 100% !important; border-collapse: collapse; border-spacing: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;"}
                    %tr
                      %td#madmimi_footer_left{align: "center", bgcolor: "#ccc", style: "text-align: center; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 10px; padding-right: 0; padding-bottom: 0; padding-left: 0; background-color: #ccc;"}
                        .footer{style: "font-family: Georgia, Times, 'Times New Roman', serif; font-size: 11px; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;\r\nfont-family: Arial;\r\nfont-size: 10px;"}
                          Если вы не хотите получать письма, то можете
                          %a{href: user_notification_settings_url(@recipient), style: "font-size: 11px;  margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;\r\nfont-family: Arial; text-decoration: none; font-familly:arial;\r\nfont-size:12px; margin-top: 7px;\r\nline-height: 16px; text-decoration: underline;"} отписатся от рассылки
                        .footer{style: "font-family: Georgia, Times, 'Times New Roman', serif; font-size: 10px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; color: #7C7C7C;\r\nfont-family: Arial;\r\nfont-size: 11px;"}
                          ©2014
                          ArtOverflow. Все права защищены. | Belarus, Minsk
