= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %h3{style: "text-align:center;"}
    Sign in
  = f.input :email, :wrapper => :prepend do
    %span.add-on
      %i.icon-envelope
    = f.input_field :email, required: true

  = f.input :password, :wrapper => :prepend do
    %span.add-on
      %i.icon-lock
    = f.input_field :password, required: true

  = f.submit 'Sign in', class: 'btn btn-primary'
    
= render "devise/shared/links"