= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %h3{style: "text-align:center;"}
    Sign in
    .control-group
      .controls{style: 'margin-left:0;'}
        .input-prepend
          %span.add-on
            %i.icon-envelope
          = f.email_field :email, required: true, placeholder: 'Email'
    .control-group
      .controls{style: 'margin-left:0;'}
        .input-prepend
          %span.add-on
            %i.icon-lock
          = f.text_field :password, required: true, placeholder: 'Password'
    .control-group
      = f.submit 'Sign in', class: 'btn btn-primary'
    
= render "devise/shared/links"