- if user_signed_in?
  - voted = current_user.liked?(resource)
  .js-button-watch.button-toggler.like-button{ data: { voted: voted} }
    .js-deactivate-button
      = link_to([resource, :likes], method: :delete, class: 'button-red js-remote-link',
        data: { remote: true }) do
        = I18n.t('unlike')
      = link_to_modal([resource, :likes], class: 'counter-container', data: { remote: true }) do
        %span.counter
          = resource.likes_count
        %span.spinner-icon.blue{style: 'display:none'}

    .js-activate-button
      = link_to([resource, :likes], method: :post, class: 'button-blue js-remote-link',
        data: { remote: true }) do
        = I18n.t('like')
      = link_to_modal([resource, :likes], class: 'counter-container', data: { remote: true }) do
        %span.counter
          = resource.likes_count
        %span.spinner-icon.red{style: 'display:none'}

- else
  .js-button-watch.button-toggler.like-button
    .js-activate-button
      = link_to(new_user_session_path, method: :post, class: 'button-blue js-remote-link') do
        = I18n.t('like')
      = link_to_modal([resource, :likes], class: 'counter-container', data: { remote: true }) do
        %span.counter
          = resource.likes_count
        %span.spinner-icon.red{style: 'display:none'}
