= cache picture do
  .image-block
    /%h1
    /  = picture.name
    %a{href: picture_path(picture)}
      .info
        %h5=picture.name
        %p
          = picture.description
      = image_tag picture.path.thumb, class: 'picture'
      .name
        = link_to picture.user_name, [picture.user, :pictures]
      .picture-actions
        %div.heart_normal
        %span
          = picture.likes_count
        %div.share_normal
        %span
          3
