= javascript_include_tag 'load-image.min', 'jquery.Jcrop', 'data-turbolinks-track' => true
= stylesheet_link_tag 'jquery.Jcrop', 'data-turbolinks-track' => true

= simple_form_for @picture do |f|
  %h3.title-download
    Загрузка
  - unless @picture.path?
    -# .bg-blue#image-selector
    -#   .row
    -#     .large-12.columns
    -#       .download-file
    -#         %label
    -#           Перетащи сюда файл с картинкой
    -#         %label
    -#           или
    -#         %a.btn-download
    -#           Выбери файл для загрузки
    -#         = f.input :path, class:'hidden-btn'
    #crop-parameters{ data: {                                      |
        width: PictureUploader::CROP_AREA_WIDTH,                   |
        height: PictureUploader::CROP_AREA_HEIGHT,                 |
        thumb_width: PictureUploader::THUMB_WIDTH,                 |
        thumb_height: PictureUploader::THUMB_HEIGHT,               |
        thumb_aspect_ratio: PictureUploader::THUMB_ASPECT_RATIO }  |
      }                                                            |
    .bg-grey#crop
      .crop-picture-new
        #crop-area
        #crop-pr
          %canvas#crop-preview{ width: PictureUploader::THUMB_WIDTH, height: PictureUploader::THUMB_HEIGHT, style: "overflow: hidden" }

  .new-picture-description
    = f.hidden_field :path_cache
    = f.hidden_field :crop_x
    = f.hidden_field :crop_y
    = f.hidden_field :crop_w
    = f.hidden_field :crop_h

    - if @picture.path?
      .input
        %label.file.control-label
          Миниатюра
        .cached-picture
          = image_tag(@picture.path.thumb)
    - else
      = f.input(:path)

    = f.input :name
    = f.input :description
    = f.association :album, collection: current_user.albums
    = f.button :submit, class: 'btn btn-green', value: 'Отправить', data: { disable_with: 'Загружаем' }
