- content_for :title, 'Новая работа'

= javascript_include_tag 'load-image.min', 'jquery.Jcrop'
= stylesheet_link_tag 'jquery.Jcrop'

= simple_form_for(@picture) do |f|
  %h3.title-download
    Загрузка
  - unless @picture.path?
    .bg-blue#image-selector
      .row
        .large-12.columns
          .download-file
            %a.btn-download
              Выбери файл для загрузки
            = f.input :path
    #crop-parameters{ data: {                                      |
        width: PictureUploader::CROP_AREA_WIDTH,                   |
        height: PictureUploader::CROP_AREA_HEIGHT,                 |
        thumb_width: PictureUploader::THUMB_WIDTH,                 |
        thumb_height: PictureUploader::THUMB_HEIGHT,               |
        thumb_aspect_ratio: PictureUploader::THUMB_ASPECT_RATIO }  |
      }                                                            |
    .bg-grey#crop
      .crop-picture-new
        #crop-area
        #crop-pr
          .input
            %label.file.control-label
              Миниатюра
          %canvas#crop-preview{ width: PictureUploader::SMALL_THUMB_WIDTH, height: PictureUploader::SMALL_THUMB_HEIGHT, style: "overflow: hidden" }

  .picture-form-fields
    = f.hidden_field :path_cache
    = f.hidden_field :crop_x
    = f.hidden_field :crop_y
    = f.hidden_field :crop_w
    = f.hidden_field :crop_h

    - if @picture.path?
      .input
        %label.file.control-label
          Миниатюра
        .cached-picture
          = image_tag(@picture.path.small_thumb)

    = f.input :name
    = f.input :description
    = f.input :graphics_type, as: :radio_buttons
    = f.input :tag_list
    = render 'categories_form'
    = f.association :album, collection: current_user.albums
    = f.button :submit, class: 'btn btn-green', value: 'Отправить', data: { disable_with: 'Загружаем' }
