//верхняя панель 'о пользователе'
%section.row.user-content
  .large-12.columns
    = image_tag 'images.jpg', class: "border-radius-circle user"
    %h1
      = @picture.name
    %p.blue
      = link_to @picture.user.name, url_for(@picture.user)
      %span.grey
        %span.star
          *
        1 час назад
      %span.grey
        %span.star
          *
        \#мост

//показ картинки :data => {'user-name' => 'John', 'user-age' => 24} %p.title :data => {'adaptive-background' => '1'}'
.picture-show.text-align.bg-grey{class: "imgWrap"}
  = image_tag @picture.path,:data => {'adaptive-background' => '1'}

//кнопки под картинки
%section.picture-actions.row
  .large-12.columns.small-4
    = render 'pictures/like_button', voted: @voted
    = render partial: 'users/follow_button', locals: {following: @following, user: @picture.user}
    %a.btn.btn-blue
      Поделиться
      = image_tag 'follow.gif', class:"img-follow"

//комментарии
.bg-light-grey
  %section.row.comments
    .large-7.columns
      .row
        .large-12.columns.title
          %h1
            Комментарии (#{@picture.comments_count})
          %p
            Последние
          %p.blue
            = image_tag 'arrow_bottom.gif'
            Популярные
      = render 'comments/form', commentable: @picture
      .user-comment
        = render @comments, commentable: @picture
      %a{ id:"button_load_more" }
        Загрузить остальные

    .other-job-right.large-5.columns
      %h1
        Другие работы
      %p.blue
        = link_to(@picture.user.name, url_for(@picture.user))
        %ul.large-block-grid-3.small-block-grid-1
          - most_popular_pictures(@picture.user).each do |pic|
            %li
              %a{href: picture_path(pic)}
                = image_tag pic.path.thumb
      .information
        %h1
          Ads via The Deck
        %p
          = image_tag 'th.gif'
          %p
            New Field Notes Brand limited-release for summer,
            %a
              The Night Sky Edition.

