//верхняя панель 'о пользователе'
%section.user-content
  .user-container
    = image_tag resource.user_avatar, class: "border-radius-circle user"
    .picture-user-info
      %h3
        = resource.name
      %p.blue
        = link_to resource.user_name, [resource.user, :pictures]
      - if resource.album
        %span.grey
          %span.star
            *
        %p.blue
          = link_to 'Все альбомы', [resource.user, :albums]
          \/
          = link_to resource.album_name, [resource.album, :pictures]
      %span.grey
      %span.grey
        %span.star
          *
        = time_passed_from_creation(resource)

//показ картинки
.picture-show.text-align.bg-grey{class: "imgWrap"}
  = image_tag resource.path,:data => {'adaptive-background' => '1'}

//кнопки под картинки
%section.picture-actions
  .picture-actions-button
    = render 'pictures/like_button'
    = render partial: 'users/follow_button', locals: { resource: resource.user }
    %span.edit-picture{ data: { user_id: resource.user_id, show_if_owner: true} }
      = link_to 'Редактировать', edit_picture_path(resource), class: 'blue'

//комментарии
.bg-light-grey
  %section.comments
    .comments-container-left
      %h3
        Комментарии (#{resource.comments_count})
      - unless resource.description.blank?
        .current-user-comment
          .user-avatar
            = image_tag resource.user.avatar, class: "border-radius-circle user"
          .description-user
            %a
              = link_to resource.user_name, [resource.user, :pictures]
            %span.star.grey
              *
            %span.grey
              = time_passed_from_creation(resource)
            %div
              = resource.description
      = render 'comments/form', commentable: resource if user_signed_in?
      .user-comment
        = render resource.comments.includes(:user).order(:created_at), commentable: resource

    .other-job-right
      %h3
        Другие работы
      %p.blue
        = link_to(resource.user_name, [resource.user, :pictures])
        %ul
          - most_popular_pictures(resource.user).each do |pic|
            %li
              %a{href: picture_path(pic)}
                = image_tag pic.path.small_thumb

      - if resource.tag_list.present?
        %div.tagslist
          %h3 Теги
          %div.tagsinput
            - resource.tag_list.each do |tag|
              %a{href: "#{pictures_path(tags: tag)}"}
                %span.tag
                  %span
                    = tag
      - if resource.category_list.present?
        %div.tagslist
          %h3 Категории
          %div.tagsinput
            - resource.category_list.each do |category|
              %a{href: "#{pictures_path(categories: category)}"}
                %span.tag
                  %span
                    = category
