.user-content
  .user
    .user-photo
      = image_tag 'images.jpg'
      %h3.picture-title
        Nice drawing
        .data-user
          %ul.details-picture
            %li.name-user
              Slava Markevich
            %li
              %span
                *
              1 час назад
            %li
              %span
                *
              \#мост

  .picture-show
    = image_tag '1.png', class: ''
  .picture-actions
    .position-btn-img-and-txt
      .buttons_like{ data: { voted: @voted}}
        = button_to(I18n.t('like'), { action: 'unlike' }, remote: true, data: { disable_with: I18n.t('like') },
          class: 'btn-like unlike', form: { id: 'unlike_button', class: 'vote', style: 'display: none'})
        = button_to(I18n.t('like'), { action: 'like' }, remote: true, data: { disable_with: I18n.t('like') },
          class: 'btn-like', form: {id: 'like_button', class: 'vote', style: 'display: none'})
        = image_tag 'like-img.gif'
        %span.picture-likes-count
          = @picture.likes_count

    = render partial: 'users/follow_button', locals: {following: @following, user: @picture.user}

    .position-btn-img-and-txt
      %input{type:'submit', class:'btn-share', value:"Поделиться"}
        = image_tag 'follow.gif', class:"img-follow"
    .right-green
      %input{type:'submit', class:'btn-green', value: "Купить $"}

.picture-comments
  .comment-center
    .comment-left
      .comment
        %p.left-count-comment
          Комментарии (#{@picture.comments_count})
        %p.last-right
          Последние
        %p.popular-right
          = image_tag 'arrow_bottom.gif'
          Популярные

      = render 'comments/form', commentable: @picture

      .user-comment
        = render @comments, commentable: @picture

    .other-job-right
      %p.left-count-comment.other-job-title
        Другие работы
      %p.user-name-other-job
        Коли
      .img-other-job
        %a
          =image_tag 'other-job.gif'
        %a
          =image_tag 'other-job.gif'
        %a
          =image_tag 'other-job.gif'
        %a
          =image_tag 'other-job.gif'
        %a
          =image_tag 'other-job.gif'
      .information
        %p.left-count-comment.other-job-title
          Ads via The Deck
        %p.news-comment
          = image_tag 'th.gif'
          %p.txt-news-comment
            New Field Notes Brand limited-release for summer,
          %a.link-news-comment
            The Night Sky Edition.
    %a#button_load_more.show_comment_all{href: '#', data: { scroller_trigger: true }}
      = I18n.t('pictures.show_more')
