!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title ArtOverflow
    = stylesheet_link_tag "promo", :media => "all", "data-turbolinks-track" => true
  %body
    .content
      = image_tag('logo.png', class: 'logo')
      .text
        Art Overflow – это наш взгляд на сайт для креативных людей, которым есть что показать и сказать. Подписывайтесь, и мы попробуем вас удивить!
      .button
        = image_tag('twitter.png')
        = image_tag('vk.png')
      #footer
        = image_tag('tablet.png')
        %p Подписаться
        = simple_form_for @subscriber do |f|
          = f.input :email, placeholder: 'test@test.com'#, required: :required
          %button Отправить
