!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags
    = javascript_include_tag :application, "data-turbolinks-track" => true
    %title ArtOverflow
    = stylesheet_link_tag "subscribe", :media => "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "jbar", :media => "all", "data-turbolinks-track" => true
  %body#subscribe
    .content
      = image_tag('logo.png', class: 'logo')
      .fixer
      .text
        Art Overflow – это наш взгляд на сайт для креативных людей, которым есть что показать и сказать. Подписывайтесь, и мы попробуем вас удивить!
        .social-buttons
          %a.link-button{href: 'http://vk.com/artoverflow'}
            = image_tag('vk.png')
          %a.link-button{href: 'http://vk.com/artoverflow'}
            = image_tag('twitter.png')
      #footer
        = image_tag('tablet.png')
        %a#flash_toggle{style: 'display:none'}
        %p Подписаться
        = simple_form_for @subscriber, remote: true, html: {'data-validate-promo' => true, novalidate: true} do |f|
          = f.input :email, placeholder: 'your@email.com', label: false
          = f.button :submit, 'Отправить'
