.activity
  .time-container
    = image_tag 'activity-follow.png'
    %div
      = time_passed_from_creation(follow_collection)
  .activity-container
    .main-activity-avatar
      = image_tag follow_collection.first.follower.avatar
    .activity-content
      .activity-owners
        = render partial: 'collection_owners', locals: { records_collection: follow_collection }
        подписался(ись) на ваши обновления
      .secondary-avatars
        - follow_collection.first(9).each do |follow|
          = image_tag follow.follower.avatar