.activity
  .border
  .time-container
    = image_tag 'activity-like.png'
    %div
      = time_passed_from_creation(like_collection)
  - if like_collection.likeable.is_a?(Picture)
    .activity-container
      .main-activity-avatar
        %a{href: user_pictures_path(like_collection.first.user)}
          = image_tag like_collection.first.user.avatar
      .activity-content
        .activity-owners
          = render partial: 'collection_owners', locals: { records_collection: like_collection }
          = I18n.t('counters.has_liked', count: like_collection.count)
          ваше изображение
        .secondary-avatars
          - like_collection.drop(1).first(9).each do |like|
            %a{href: user_pictures_path(like.user)}
              = image_tag like.user.avatar

        - picture = like_collection.likeable
        %a{href: picture_path(picture)}
          = image_tag picture.path.thumb, class: 'picture'
  - elsif like_collection.likeable.is_a(Comment)
    .activity-container
      .main-activity-avatar
        %a{href: user_pictures_path(like_collection.first.user)}
          = image_tag like_collection.first.user.avatar
      .activity-content
        .activity-owners
          = render partial: 'collection_owners', locals: { records_collection: like_collection }
          = I18n.t('counters.has_liked', count: like_collection.count)
          ваш комментарий

        .secondary-avatars
          - like_collection.drop(1).first(9).each do |like|
            %a{href: user_pictures_path(like.user)}
              = image_tag like.user.avatar

        - comment = like_collection.likeable
        %a{href: picture_path(comment.commentable)}
          = "\"#{comment.text}\""
