= javascript_include_tag 'load-image.min', 'jquery.Jcrop', 'data-turbolinks-track' => true
= stylesheet_link_tag 'jquery.Jcrop', 'data-turbolinks-track' => true

#edit-avatar
  = simple_form_for(resource, url: album_avatar_path(resource)) do |f|
    = f.hidden_field :crop_x
    = f.hidden_field :crop_y
    = f.hidden_field :crop_w
    = f.hidden_field :crop_h
    = f.input :avatar
    #crop-area
    #crop-parameters{ data: {                                      |
        width: AlbumUploader::CROP_AREA_WIDTH,                    |
        height: AlbumUploader::CROP_AREA_HEIGHT,                  |
        thumb_width: AlbumUploader::THUMB_WIDTH,                  |
        thumb_height: AlbumUploader::THUMB_HEIGHT,                |
        thumb_aspect_ratio: AlbumUploader::THUMB_ASPECT_RATIO }   |
      }                                                            |
    = f.button :submit, class: 'btn btn-green', value: 'Сохранить'
