.move
  .row
    %footer.large-4.columns.small-4
      %h1
        ARTOVERFLOW
      %p
        ArtOverflow является платформой, позволяющей художнику любого уровня выставлять,
        продвигать и делиться своими работами среди сообщества, посвященному искусcтву.
      %p.bold
        = image_tag("twitterFooter.png")
        Читай наш твиттер
    .large-2.columns.nav-footer.large-offset-1.small-2
      %ul.large-block-grid-1.small-block-grid-1
        %li.active
          = link_to "О проекте", '#'
        %li
          = link_to "Комманда", "#"
        %li
          = link_to "Цели", "#"
        %li
          = link_to "Спонсоры", "#"
        %li
          = link_to "Политика", "#"
    .large-4.columns.large-offset-1.ads.small-4
      %a{href: "#"}
        = image_tag("news.gif")
        %p
          Ads via The Deck
          BBEdit 10. A hundred new things. $50. Really.
  .row
    .large-12.columns.copyright
      %p
        Copyright © 2009–2013 Artoverflow LLC. All screenshots © their respective owners. Shipped from Salem, Mass. USA.


#myModal{class: 'reveal-modal [expand, xlarge, large, medium, small]'}
  %h2 Awesome. I have it
  %p.lead Your couch.  It is mine.
  %p Im a cool paragraph that lives inside of an even cooler modal. Wins
  %a{class: "close-reveal-modal"}
    &#215;
