.header
  .logo
    %a{href: '/'}
      %h1
        ARTOVERFLOW
    %ul.menu
      %li
        = link_to "Обновления", "#"
      %li
        = link_to "Популярные", "#"
      %li
        = link_to "Новые", "#"
    #upload-button.btn-group
      %button.btn-download
        = image_tag 'cloudlet.png'
      %button.btn-text Загрузить
    #quest.search
      %input{type: "text", placeholder: "Поиск"}
    %span.ava
      = image_tag 'images.jpg'
