%header
  .row
    .large-2.columns#logo
      %a{href: '/'}
        %h1
          ARTOVERFLOW
    %nav.large-5.columns#menu
      %ul.large-block-grid-4
        %li.active
          = link_to "Обновления", activities_path
        %li
          = link_to "Популярные", "#"
        %li
          = link_to "Новые", "#"
        %li
          = link_to "Категории", "#"
    .large-5.columns#dowland
      %a.btn-blue-double{ href: new_picture_path }
        %span
          = image_tag("cloudlet.png")
        Загрузить
      #search
        %input{type: "text", placeholder: "Поиск"}
      - if user_signed_in?
        %span.ava
          = image_tag 'images.jpg'
        .user-menu
          = image_tag 'triangle.png'
          %ul.large-block-grid-1
            %li
              = link_to t('user.profile'), user_path(current_user)
            %li
              = link_to t('user.settings'), edit_user_registration_path
            %li
              = link_to t('user.logout'), destroy_user_session_path, method: :delete
      - else
        / = link_to t('user.sign_in'), new_user_session_path, class: 'sign-in'
        %a{class: 'sign-in'}
          Вход
      .login-user
        / %form{class: 'simple_form', action: new_user_session_path}
        = simple_form_for(User.new, url: new_user_session_path) do
          = image_tag('triangle.png');
          %input{name: "user[email]", type: "text", placeholder: "Еmail"}
          %input{name: "user[password]", type: "text", placeholder: "Пароль"}
          .action
            %input{type: "submit", placeholder: "Отправить", class: 'btn btn-blue'}
            = link_to "Забыл пароль?", '#', class: 'grey forgot-password'
          .join-us.grey
            Еще не с нами?
            = link_to t('user.registration'), new_user_registration_path, class: 'grey'

