:javascript
  $(document).on('ready', function(){
      $('#upload-button').on('mouseover', function(){
          $(this).children().addClass('hovered');
      })
      .on('mouseleave', function(){
          $(this).children().removeClass('hovered');
      })
  })
  $(document).on('ready', function(){
      $('#quest').on('click', function(){
          $(this).animate({width: "20%"},300)
          $(this).children().animate({width: "80%"},300);
          $(this).children().addClass('inp-click');
      })
      $('#quest').children().on('blur', function(){
          $(this).animate({width: "65px"},300)
          $(this).parent().animate({width: "95px"},300);
          $(this).removeClass('inp-click');
      });

  })
.header
  .logo
    %a{href: '/'}
      %h1
        ARTOVERFLOW
    %ul.menu
      %li
        = link_to "Обновления", "#"
      %li
        = link_to "Популярные", "#"
      %li
        = link_to "Новые", "#"
    #upload-button.btn-group
      %button.btn-download
        = image_tag 'cloudlet.png'
      %button.btn-text Загрузить
    #quest.search
      %input{type: "text", placeholder: "Поиск"}
    %span.ava
      = image_tag 'images.jpg'
