.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href=root_path) ArtOverflow
      .container.nav-collapse
        %ul.nav
          %li= link_to "Following", "/path1"
          %li= link_to "Popular", "/path2"
          %li= link_to "Everyone", "/path3"
          %li= link_to "Add work", new_picture_path
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => 'dropdown'}
              Profile
              %b.caret
            %ul.dropdown-menu
              - if user_signed_in?
                %li
                  = link_to 'Выйти', destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to 'Войти', new_user_session_path
        %form.navbar-search
          %input.search-query.span2{type: 'text', placeholder: 'search'}