#header
  #logo
    %a{href: '/'}
      %h1
        ARTOVERFLOW
    %ul#menu
      %li
        = link_to "Обновления", "#"
      %li
        = link_to "Популярные", "#"
      %li
        = link_to "Новые", "#"
    #btn-group
      %a#upload-link{href: '/'}
        #btn-download
          = image_tag 'cloudlet.png'
        #btn-text Загрузить
    #search
      %input{type: "text", placeholder: "Поиск"}
    %span.ava
      = image_tag 'images.jpg'
